* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: "sans-serif";
}
html {
  scroll-behavior: smooth;
}
.navbar{
  background-color: white;
}
.logo-navbar {
    width: 100px;
}
.navbar-brand{
  max-width: fit-content;
}