* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font: "sans-serif";
}

body {
	background-color: #f3f1f5;
}
html {
	scroll-behavior: smooth;
}

.logo-navbar {
	max-width: 08rem;
}
.navbar-brand {
	max-width: fit-content;
}

.navbar li:hover {
	border: 1px solid black;
}

.card-main {
	max-width: 1500px;
	/* max-height: 300px; */
}
.card-main img {
	width: 100%;
	max-width: 50%;
}

.header {
	min-height: 80vh;
	background: url("../assets/img/bg.webp"), #f3f1f5;
	background-size: cover;
	background-position: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.header__logo {
	display: block;
	height: 15rem;
	margin: 0 auto;
	padding: 1rem 0;
}
@media (max-width: 37.5rem) {
	.header__logo {
		height: 10rem;
	}
}
.header__title {
	text-align: center;
	color: #4a4a4a;
	font-size: 3.5rem;
	font-weight: 600;
}
@media (max-width: 37.5em) {
	.header__title {
		font-size: 2rem;
	}
}
.header__subtitle {
	color: #4a4a4a;
	text-align: center;
	font-size: 1.62rem;
	margin-bottom: 2rem;
}
@media (max-width: 37.5em) {
	.header__subtitle {
		font-size: 1.4rem;
	}
}
.header__button {
	text-align: center;
	border-radius: 0rem;
	margin-bottom: 2rem;
	transition: 0.3s;
	color: #4a4a4a;
	padding: 0.5rem 1rem;
	border: 3px solid black;
	font-size: 1.25rem;
	text-transform: uppercase;
	text-decoration: none;
	transition: 0.3s;
}
.header__button:hover {
	background: black;
	color: white;
	transform: translateY(-5px);
}
.header__socials {
	text-align: center;
	margin-top: 2rem;
}
.header__socials__icon i {
	color: #4a4a4a;
	font-size: 1.75rem;
	margin: 0 0.5rem;
	transition: all 0.3s;
}
.header__socials__icon i:hover {
	color: #6e6960;
}

/* COMMON */

.section-header {
	text-align: center;
	padding: 3.25rem;
	font-family: "Montserrat", sans-serif;
}

.section-title {
	font-size: 2.75rem;
	font-family: "Raleway", sans-serif;
	color: black;
	margin-bottom: 0.25rem;
}
@media (max-width: 37.5em) {
	.section-title {
		font-size: 2rem;
	}
}

.section-tagline {
	font-size: 1rem;
	color: black;
	font-weight: 800;
	margin-bottom: 1.25rem;
}
@media (max-width: 37.5em) {
	.section-tagline {
		font-size: 1rem;
	}
}

.section-hr {
	width: 6.75rem;
	height: 0.3125rem;
	background: black;
	margin: 0 auto;
}

/* team  */

.team {
	color: black;
	background-color: #f3f3f5;
	padding-bottom: 3rem;
}

/* AboutuUS */

/* part1  */

/* part1  */
/* part1  */
.AU-pic {
	/* display: flex; */
	margin-left: 2%;
	margin-right: 2%;
	align-items: center;
}

.AU-pic img {
	display: block;
	max-width: 100%;
	max-height: 100%;
	padding: 2%;
	margin-left: auto;
	margin-right: auto;
	/* margin-top: 1.5%; */
	/* margin-left: auto;
	margin-right: auto; */
	width: 60%;
	border-radius: 8px;
}
.AU-pic hr {
	margin: 25px 100px;
	height: 2px;
	background-color: brown;
}

.AU-pic p {
	padding: 3%;
	margin-top: 0%;
	padding: 0% 5%;
	/* padding-top: 0px; */
	font-family: Helvetica;
	color: black;
	text-align: justify;
	letter-spacing: 1.1px;
}

.heading1 {
	display: flex;
	flex-direction: column;
}

.heading1 h4 {
	text-align: center;
}

.heading2 h4 {
	text-align: center;
}

@media (max-width: 37.5em) {
	.AU-pic img {
		width: 80vw;
		/* height: 60vh; */
	}
}

/* .navbar {
	background-color: #f0b9af;
} */
.njflap-logo {
	height: 35px;
}
/* ARTHOTSAV.HTML */
.arthotsavPoster {
	height: 80vh;
}
@media (max-width: 37.5em) {
	.arthotsavPoster {
		/* width: 80vw; */
		height: 60vh;
	}
}

.arthotsavDetails {
	padding-top: 50px;
	padding-bottom: 20px;
}
.arthotsavDetails p {
	align-self: center;
	text-align: justify;
}

.footerSocial {
	padding-right: 10px;
}

.eventRow1 img {
	height: 500px;
	padding: 5px;
}

@media (max-width: 37.5em) {
	.eventRow1 img {
		/* width: 80vw; */
		width: 100%;
	}
}
.eventRow2 img {
	height: 500px;
	padding: 5px;
}

@media (max-width: 37.5em) {
	.eventRow2 img {
		/* width: 80vw; */
		width: 100%;
	}
}
.eventRow3 img {
	height: 500px;
	padding: 5px;
}

@media (max-width: 37.5em) {
	.eventRow3 img {
		/* width: 80vw; */
		width: 100%;
	}
}
.eventRow4 img {
	height: 500px;
	padding: 5px;

	margin: 0px;
}
.eventRow4 {
	align-items: center;
	text-align: center;
}
@media (max-width: 37.5em) {
	.eventRow4 img {
		/* width: 80vw; */
		width: 100%;
	}
}
.sponsors {
	padding-top: 50px;
	align-items: center;
	text-align: center;
}
@media (max-width: 37.5em) {
	.sponsors img {
		/* width: 80vw; */
		width: 100%;
	}
}
.departmentContainer p {
	align-items: center;
	text-align: justify;
}
.buttonRegister {
	padding-top: 80px;
	margin-right: 0;
	margin-left: 0;
}
