* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: "sans-serif";
}

body{
  background-color: #f3f1f5;
}
html {
  scroll-behavior: smooth;
}

.logo-navbar {
    max-width: 08rem;
}
.navbar-brand{
  max-width: fit-content;
}
.card-main {
  max-width: 1500px;
  /* max-height: 300px; */
}
.card-main img{
  width: 100%;
  max-width: 50%;
}